.title {
  text-align: center;
  color: #f842da;
  padding: 15px 0 20px;
}

.form {
  width: 340px;
  padding: 15px 0 20px 10px;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
}
