@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

.link {
  display: 'inline-block';
  text-decoration: none;
  padding: 12px;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Potta One', cursive;
  color: #ffffff;
}

.activeLink {
  color: #c2ebd2;
}
