@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

.li {
  font-family: 'Potta One', cursive;
  color: #000000;
  font-size: 16px;
  padding: 10px 0;
}

.button {
  font-size: 18px;
  width: 100px;
  font-family: 'Caveat', cursive;
  color: #000000;
  background-color: #c2ebd2;
  margin-left: 40px;
}
